
/* body {
    background-color: #d9e7d8;
} */

.form-container {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 20px;
}

.alert-info {
    background-color: hsl(156deg 19.53% 31.74%) !important; 
    color: white;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #504f4f;
    padding-bottom: 5px;
    width: 100%;
    font-size: large;
}
.av-text {
    text-align: center;
    font-size: 14px;
    color: #e16412;          
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 20px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.form-check-inline {
    margin-right: 20px;
}

.col-half {
    margin-bottom: 20px;
}

.small-input {
    width: 60px;
}

.label-indent {
    margin-left: 90px;
}

.full-width {
    border-bottom: 2px solid #504f4f;
    padding-bottom: 10px;
}

.btn-submit {
    background-color: hsl(156deg 19.53% 31.74%);
    border-color: #504f4f;
    color: white;
}

.btn-submit:hover {
    background-color: hsl(156deg 45.83% 45.46%);
    border-color: #3e3d3d;
}

    /* Styling for Office Use Only section */
    .office-use-section {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.office-use-section .section-header {
    color: #28a745;
}

.office-use-section .form-control {
    background-color: #e2e2e2;
}

.icon-date {
    font-size: 20px;
    color: #28a745;
}

.icon-operator {
    font-size: 20px;
    color: #007bff;
}
